[submodule "libs/PixL-Rendering-Engine"]
	path = libs/PixL-Rendering-Engine
	url = https://github.com/MatheoVignaud/PixL-Rendering-Engine.git
[submodule "libs/PixL-Pak"]
	path = libs/PixL-Pak
	url = https://github.com/MatheoVignaud/PixL-Pak
[submodule "libs/PixL-Studio"]
	path = libs/PixL-Studio
	url = https://github.com/MatheoVignaud/PixL-Studio
